---
version: '3.1'
services:
  postgres:
    container_name: semaphore_postgres
    restart: unless-stopped
    image: docker.io/library/postgres:14
    volumes:
      - semaphore-postgres:/var/lib/postgresql/data
    environment:
      POSTGRES_USER: semaphore
      POSTGRES_PASSWORD: {{semaphore_postgres_password}}
      POSTGRES_DB: semaphore
  sempahore:
    container_name: semaphore
    restart: unless-stopped
    ports:
      - {{semaphore_ports}}
    image: {{semaphore_container_image}}
    environment:
      SEMAPHORE_DB_USER: semaphore
      SEMAPHORE_DB_PASS: {{semaphore_db_pass}}
      SEMAPHORE_DB_HOST: postgres
      SEMAPHORE_DB_PORT: 5432
      SEMAPHORE_DB_DIALECT: postgres
      SEMAPHORE_DB: semaphore
      SEMAPHORE_PLAYBOOK_PATH: /tmp/semaphore/
      SEMAPHORE_ADMIN: {{semaphore_admin_username}}
      SEMAPHORE_ADMIN_PASSWORD: {{semaphore_admin_password}}
      SEMAPHORE_ADMIN_NAME: {{semaphore_admin_name}}
      SEMAPHORE_ADMIN_EMAIL: {{semaphore_admin_email}}
      # generate with: head -c32 /dev/urandom | base64
      SEMAPHORE_ACCESS_KEY_ENCRYPTION: {{semaphore_encryption_key}}
      SEMAPHORE_LDAP_ACTIVATED: {{semaphore_ldap_activated}}
      SEMAPHORE_LDAP_HOST: {{semaphore_ldap_host}}
      SEMAPHORE_LDAP_PORT: {{semaphore_ldap_port}}
      SEMAPHORE_LDAP_NEEDTLS: {{semaphore_ldap_needtls}}
      SEMAPHORE_LDAP_DN_BIND: {{semaphore_ldap_dn_bind}}
      SEMAPHORE_LDAP_PASSWORD: {{semaphore_ldap_password}}
      SEMAPHORE_LDAP_DN_SEARCH: {{semaphore_ldap_dn_search}}
      SEMAPHORE_LDAP_SEARCH_FILTER: {{semaphore_ldap_search_filter}}
  depends_on:
    - postgres

volumes:
  semaphore-postgres:
